<h3 class="center">Влез в системата</h3>

<div class="row">
    <%= render 'shared/form_errors', object: resource %>

    <div class="col s6 m6 l6 offset-s3 offset-m3 offset-l3 center-align">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |form| %>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <%= form.label :email, 'Email' %>
            <%= form.email_field :email, autofocus: true, autocomplete: 'email', id: :email %>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <%= form.label :password, 'Парола' %>
            <%= form.password_field :password, autocomplete: 'off', id: :password %>
          </div>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="row">
            <div class="input-field col s12">
              <%= form.check_box :remember_me %>
              <%= form.label :remember_me %>
            </div>
          </div>
        <% end -%>

        <div class="row">
          <%= form.submit 'Влез', class: 'btn waves-effect waves-light btn-large' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
