<div class="row">
  <%= form_with(model: post, local: true, class: 'col s12 m8 l8 offset-m2 offset-l2 center-align') do |form| %>
    <div class="row">
      <div class="input-field col s12 m12 l12">
        <i class="material-icons prefix">font_download</i>
        <%= form.label :title, 'Заглавие' %>
        <%= form.text_field :title, id: :post_title %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m12 l12">
        <i class="material-icons prefix">comment</i>
        <%= form.label :content %>
        <%= form.text_area :content, id: :post_content, rows: 20, class: 'materialize-textarea' %>
      </div>
    </div>
    <div class="row">
      <%= form.submit 'Добави новина', class: 'btn waves-effect waves-light btn-large' %>
    </div>
  <% end %>
</div>
