<% provide(:title, @post.title) %>

<div class="parallax-container">
  <div class="parallax overlay"><%= image_tag @post.image %></div>
</div>

<div class="section">
  <div class="row container">
    <h2 class="header"><%= @post.title %></h2>
    <blockquote class="blockquote"><%= @post.content %></blockquote>
  </div>
  <div class="row container grey-text right-align">
    Добавено от <i><%= @post.user.email %></i> на <i><%= @post.created_at.to_date %></i>
  </div>
</div>

<div class="parallax-container">
  <div class="parallax overlay"><%= image_tag @post.image %></div>
</div>
